<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729242676224-29sr201jv6ep4f6jmgfso8bd66o2kdgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729242676224-29sr201jv6ep4f6jmgfso8bd66o2kdgf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>729242676224-lm2h5prnk3crrb9e1s4it92oape5tbpq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKAilkVBPc7sWs-K_DpCsCgdWHnajuCUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>729242676224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.comby.ai.outfit.generator.tryon.wardrobe.fitcheck.style</string>
	<key>PROJECT_ID</key>
	<string>ginowl-ginfit</string>
	<key>STORAGE_BUCKET</key>
	<string>ginowl-ginfit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729242676224:ios:b585ac46adac8d7a1bfce5</string>
</dict>
</plist>